In [35]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [38]:
inspector = inspect(engine)
columns = inspector.get_columns('Measurement')
columns

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'station',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'date',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'prcp',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'tobs',
  'type': FLOAT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [50]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = dt.date(2017, 6, 1)

In [55]:
#  3. Convert the June temperatures to a list.
results = []
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date == june).all()
results

[('2017-06-01', 79.0),
 ('2017-06-01', 76.0),
 ('2017-06-01', 81.0),
 ('2017-06-01', 79.0),
 ('2017-06-01', 80.0),
 ('2017-06-01', 74.0)]

In [41]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date', 'temperature'])
df

         date  temperature
0  2017-07-01         80.0
1  2017-07-01         76.0
2  2017-07-01         79.0
3  2017-07-01         74.0

In [42]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       temperature
count     4.000000
mean     77.250000
std       2.753785
min      74.000000
25%      75.500000
50%      77.500000
75%      79.250000
max      80.000000

## D2: Determine the Summary Statistics for December

In [60]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = dt.date(2016, 12, 1)

In [61]:
# 7. Convert the December temperatures to a list.
results = []
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date == december).all()
results

[('2016-12-01', 75.0),
 ('2016-12-01', 73.0),
 ('2016-12-01', 75.0),
 ('2016-12-01', 72.0),
 ('2016-12-01', 76.0),
 ('2016-12-01', 74.0),
 ('2016-12-01', 71.0)]

In [63]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(results, columns=['date', 'temperature'])
december_df

         date  temperature
0  2016-12-01         75.0
1  2016-12-01         73.0
2  2016-12-01         75.0
3  2016-12-01         72.0
4  2016-12-01         76.0
5  2016-12-01         74.0
6  2016-12-01         71.0

In [64]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

       temperature
count     7.000000
mean     73.714286
std       1.799471
min      71.000000
25%      72.500000
50%      74.000000
75%      75.000000
max      76.000000